<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            {% stylesheets
                '@VZCalendarBundle/Resources/public/css/bootstrap.css'
                '@VZCalendarBundle/Resources/public/css/bootstrap-responsive.css'
                '@VZCalendarBundle/Resources/public/css/calendar.css'
                output='assetic/*.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{ "vz_calendar" | trans() }}</a>
          <div class="nav-collapse">
            {{ knp_menu_render('VZCalendarBundle:Builder:adminMenu', { 'template': 'VZCalendarBundle:Index:menu.html.twig', 'currentClass': 'active' }) }}
<!--
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>Vanzoo 2012</p>
      </footer>

    </div> <!-- /container -->

    {% block javascripts %}
        {% javascripts
            '@VZCalendarBundle/Resources/public/js/*'  output='assetic/*.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
