<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
    {% stylesheets
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap-responsive.css'
                '@VZCalendarBundle/Resources/public/css/calendar.css'
                output='assetic/*.css'
            %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>Vanzoo 2012 :: Version 0.7.19</p>
    </footer>

</div> <!-- /container -->

{% block javascripts %}
{% javascripts
            '@VZCalendarBundle/Resources/public/js/*'  output='assetic/*.js'
        %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>
